# Игнорировать временные файлы
*.log
*.tmp

# Игнорировать временные папки
*.TMP/

# Игнорировать системные файлы
.DS_Store
Thumbs.db

# Игнорировать папки IDE
.vscode/
.idea/

# Игнорировать файлы Yandex Disk
*.sync-conflict*
